<layout name="layout" />
<script src="{$uri}Public/Scripts/PSI/BusinessPay/MainForm.js?dt={$dtFlag}" type="text/javascript"></script>
<script src="{$uri}Public/Scripts/PSI/BusinessPay/BusinessPayEditForm.js?dt={$dtFlag}" type="text/javascript"></script>
<script src="{$uri}Public/Scripts/PSI/Employee/EmployeeField.js?dt={$dtFlag}" type="text/javascript"></script>
<script src="{$uri}Public/Scripts/PSI/BusinessPay/BusinessPayEditPanel.js?dt={$dtFlag}" type="text/javascript"></script>
<script src="{$uri}Public/Scripts/PSI/BusinessPay/BusinessPayExportForm.js?dt={$dtFlag}" type="text/javascript"></script>
<script src="{$uri}Public/Scripts/PSI/BankDeposit/BankAccountField.js?dt={$dtFlag}" type="text/javascript"></script>
<script src="{$uri}Public/Scripts/PSI/MonthField.js?dt={$dtFlag}" type="text/javascript"></script>
<!--<script src="{$uri}Public/ExtJS/plus/RowExpander.js?dt={$dtFlag}" type="text/javascript"></script>-->
<script src="{$uri}Public/Scripts/PSI/gridToExcel.js?dt={$dtFlag}" type="text/javascript"></script>


<script>
    Ext.onReady(function(){
        var app = Ext.create("PSI.App", {
            userName: "{$loginUserName}",
            productionName: "{$productionName}"
        });

        app.add(Ext.create("PSI.BusinessPay.MainForm", {
            pAddBusinessPay: "{$pAddBusinessPay}",
            pEditBusinessPay: "{$pEditBusinessPay}",
            pDeleteBusinessPay: "{$pDeleteBusinessPay}",
            pImportBusinessPay: "{$pImportBusinessPay}",
            pExportBusinessPay: "{$pExportBusinessPay}",
            pVerifyBusinessPay: "{$pVerifyBusinessPay}",
            pRevertVerifyBusinessPay: "{$pRevertVerifyBusinessPay}",
            pViewBusinessPayDetail: "{$pViewBusinessPayDetail}",
            pBusinessPaySearch: "{$pBusinessPaySearch}"
        }));
        app.setAppHeader({
            title: "{$title}",
            iconCls: "PSI-fid1001"
        });
    });
</script>