<layout name="layout" />
<script src="{$uri}Public/Scripts/PSI/RealTimeFlow/MainForm.js?dt={$dtFlag}" type="text/javascript"></script>
<script src="{$uri}Public/Scripts/PSI/RealTimeFlow/DailySellAddForm.js?dt={$dtFlag}" type="text/javascript"></script>
<script src="{$uri}Public/Scripts/PSI/Employee/EmployeeField.js?dt={$dtFlag}" type="text/javascript"></script>
<script src="{$uri}Public/Scripts/PSI/RealTimeFlow/DailySellsImportForm.js?dt={$dtFlag}" type="text/javascript"></script>
<script src="{$uri}Public/Scripts/PSI/RealTimeFlow/DailySellExcelImportPanel.js?dt={$dtFlag}" type="text/javascript"></script>
<script src="{$uri}Public/Scripts/PSI/RealTimeFlow/DailySellItemsPanel.js?dt={$dtFlag}" type="text/javascript"></script>
<script src="{$uri}Public/Scripts/PSI/Drug/DrugField.js?dt={$dtFlag}" type="text/javascript"></script>
<script src="{$uri}Public/Scripts/PSI/UX/CellEditing.js?dt={$dtFlag}" type="text/javascript"></script>
<script src="{$uri}Public/Scripts/PSI/Hospital/HospitalField.js?dt={$dtFlag}" type="text/javascript"></script>
<script src="{$uri}Public/Scripts/PSI/Util/DateUtil.js?dt={$dtFlag}" type="text/javascript"></script>
<script src="{$uri}Public/Scripts/PSI/Deliver/DeliverField.js?dt={$dtFlag}" type="text/javascript"></script>
<script src="{$uri}Public/Scripts/PSI/RealTimeFlow/DailySellAddForm.js?dt={$dtFlag}" type="text/javascript"></script>
<script src="{$uri}Public/Scripts/PSI/RealTimeFlow/DailySellEditForm.js?dt={$dtFlag}" type="text/javascript"></script>
<script src="{$uri}Public/Scripts/PSI/RealTimeFlow/DailySellProfitEditForm.js?dt={$dtFlag}" type="text/javascript"></script>
<script src="{$uri}Public/Scripts/PSI/RealTimeFlow/DailySellExportForm.js?dt={$dtFlag}" type="text/javascript"></script>
<script src="{$uri}Public/Scripts/PSI/Supplier/SupplierField.js?dt={$dtFlag}" type="text/javascript"></script>

<script>
    Ext.onReady(function(){
        var app = Ext.create("PSI.App", {
            userName: "{$loginUserName}",
            productionName: "{$productionName}"
        });

        app.add(Ext.create("PSI.RealTimeFlow.MainForm", {
            pAddDailySellItem: "{$pAddDailySellItem}",
            pDeleteDailySellItem: "{$pDeleteDailySellItem}",
            pImportDailySellItem: "{$pImportDailySellItem}",
            pExportDailySellItem: "{$pExportDailySellItem}",
            pConfirmMatchedDailySellItem: "{$pConfirmMatchedDailySellItem}",
            pConfirmUnMatchedDailySellItem: "{$pConfirmUnMatchedDailySellItem}",
            pViewImmediatelySellGrid : "{$pViewImmediatelySellGrid}"
        }));
        app.setAppHeader({
            title: "{$title}",
            iconCls: "PSI-fid1001"
        });
    });
</script>